
<%- include('./layouts/partials/header') %>
<div class="wrapper">
  <main class="header">
    <h1>Welcome </h1>
    <p class="todo-list">This is the home page of the Todo App. Get started by logging in to explore your todos.</p>
    <a href="/login" class="login-button">Login</a>
  </main>
  <footer>
    <p>&copy; <%= new Date().getFullYear() %> Todo App</p>
  </footer>
</div>  
    <%- include('./layouts/partials/footer') %>