<div class="todo-details">
    <h3><%= todo.title %></h3>
    <p>Category: <%= todo.taskId %></p>
    <p>Description: <%= todo.description %></p>
    <!-- Display other details of the todo as needed -->
</div>
